# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
*.sqlite3
*.sqlite
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Output
output/
*.pdf

# IDE
.vscode/
.idea/
trae/
